@page "/"

<PageTitle>Login - Prime Orders</PageTitle>

<div>
	<SfOtpInput Type="OtpInputType.Number"
				OnInput="CheckPasscode"
				Value="@_passcode"
				Placeholder="CODE"
				CssClass="otp-input" />
</div>
